<div class="field-editor" [ngClass]="fieldData.datatype">
  <div class="field-editor-content">
    <!-- Field label showing name, units, and required status -->
    <div class="field-label">
      <span class="display-name">{{ fieldData.field_name || fieldName }}</span>
      <span class="units" *ngIf="fieldData.units">({{ fieldData.units }})</span>
      <span class="required-badge" *ngIf="fieldData.required">Required</span>
    </div>

    <!-- Field input based on type -->
    <div class="field-input">
      <!-- Text field -->
      <ng-container *ngIf="fieldData.datatype === 'text' && !isArray(fieldData.dropdown)">
        <input 
          type="text" 
          [value]="fieldData.default || ''" 
          (input)="updateFieldValue($event)"
          class="text-input"
          placeholder="Enter text value"
        />
      </ng-container>

      <!-- Dropdown field -->
      <ng-container *ngIf="fieldData.datatype === 'text' && isArray(fieldData.dropdown) && fieldData.dropdown.length > 0">
        <select 
          [value]="fieldData.default || ''" 
          (change)="updateFieldValue($event)"
          class="dropdown-input"
        >
          <option value="" disabled selected *ngIf="!fieldData.default">Select an option</option>
          <option *ngFor="let option of fieldData.dropdown" [value]="option" [selected]="option === fieldData.default">
            {{ option }}
          </option>
        </select>
      </ng-container>

      <!-- Number field -->
      <ng-container *ngIf="fieldData.datatype === 'number'">
        <input 
          type="number" 
          [value]="fieldData.default !== undefined && fieldData.default !== null ? fieldData.default : ''" 
          (input)="updateFieldValue($event)"
          class="number-input"
          [min]="fieldData.limits?.min"
          [max]="fieldData.limits?.max"
          placeholder="Enter numeric value"
        />
      </ng-container>

      <!-- Date field -->
      <ng-container *ngIf="fieldData.datatype === 'date'">
        <input 
          type="date" 
          [value]="formatDateForInput(fieldData.default)" 
          (input)="updateDateField($event)"
          class="date-input"
          [min]="fieldData.limits?.min ? (formatDateForInput(fieldData.limits.min)) : ''"
          [max]="fieldData.limits?.max ? (formatDateForInput(fieldData.limits.max)) : ''"
        />
      </ng-container>

      <!-- Boolean field -->
      <ng-container *ngIf="fieldData.datatype === 'boolean'">
        <div class="boolean-field-wrapper">
          <label class="toggle-switch">
            <input 
              type="checkbox" 
              [checked]="fieldData.default === true || fieldData.default === 'true'" 
              (change)="updateFieldValue($event)"
            />
            <span class="toggle-slider"></span>
          </label>
          <span class="boolean-value">{{ (fieldData.default === true || fieldData.default === 'true') ? 'Yes' : 'No' }}</span>
        </div>
      </ng-container>
    </div>

    <!-- Field description as text below the input -->
    <div class="field-description" *ngIf="fieldData.description">
      {{ fieldData.description }}
    </div>
  </div>
</div>

<!-- Field Settings (only shown when editing) -->
<div class="field-settings" *ngIf="isEditing">
  <!-- Data Type Selector -->
  <div class="form-group">
    <label for="dataType">Data Type</label>
    <select id="dataType" [(ngModel)]="fieldData.datatype" (change)="updateFieldData()">
      <option value="text">Text</option>
      <option value="number">Number</option>
      <option value="boolean">Boolean</option>
      <option value="date">Date</option>
      <option value="object">Object</option>
      <option value="array">Array</option>
      <option value="null">Null</option>
    </select>
  </div>

  <!-- Required Field Checkbox -->
  <div class="form-group checkbox-group">
    <div class="checkbox-wrapper">
      <input type="checkbox" id="required" [(ngModel)]="fieldData.required" (change)="updateFieldData()">
      <label for="required">Required</label>
    </div>
  </div>

  <!-- String Type Options -->
  <ng-container *ngIf="fieldData.datatype === 'text'">
    <div class="form-group">
      <label for="defaultValue">Default Value</label>
      <input type="text" id="defaultValue" [(ngModel)]="fieldData.default" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="field_name">Field Name</label>
      <input type="text" id="field_name" [(ngModel)]="fieldData.field_name" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" [(ngModel)]="fieldData.description" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="units">Units</label>
      <input type="text" id="units" [(ngModel)]="fieldData.units" (blur)="updateFieldData()">
    </div>
    
    <!-- Dropdown Options -->
    <div class="form-group" *ngIf="fieldData.dropdown">
      <label>Dropdown Options</label>
      <div class="dropdown-options">
        <div class="dropdown-option" *ngFor="let option of fieldData.dropdown; let i = index">
          <input type="text" [(ngModel)]="fieldData.dropdown[i]" (blur)="updateFieldData()">
          <button class="remove-option" (click)="removeDropdownOption(i)">×</button>
        </div>
        <button class="add-option" (click)="addDropdownOption()">+ Add Option</button>
      </div>
    </div>
  </ng-container>

  <!-- Number Type Options -->
  <ng-container *ngIf="fieldData.datatype === 'number'">
    <div class="form-group">
      <label for="defaultNumberValue">Default Value</label>
      <input type="number" id="defaultNumberValue" [(ngModel)]="fieldData.default" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="field_name">Field Name</label>
      <input type="text" id="field_name" [(ngModel)]="fieldData.field_name" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" [(ngModel)]="fieldData.description" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="units">Units</label>
      <input type="text" id="units" [(ngModel)]="fieldData.units" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="minValue">Minimum Value</label>
      <input type="number" id="minValue" [(ngModel)]="fieldData.limits.min" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="maxValue">Maximum Value</label>
      <input type="number" id="maxValue" [(ngModel)]="fieldData.limits.max" (blur)="updateFieldData()">
    </div>
  </ng-container>

  <!-- Date Type Options -->
  <ng-container *ngIf="fieldData.datatype === 'date'">
    <div class="form-group">
      <label for="defaultDateValue">Default Value</label>
      <input type="date" id="defaultDateValue" [value]="formatDateForInput(fieldData.default)" (input)="updateDateField($event)" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="field_name">Field Name</label>
      <input type="text" id="field_name" [(ngModel)]="fieldData.field_name" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" [(ngModel)]="fieldData.description" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="units">Units</label>
      <input type="text" id="units" [(ngModel)]="fieldData.units" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="minDate">Minimum Date</label>
      <input type="date" id="minDate" [value]="fieldData.limits?.min ? (formatDateForInput(fieldData.limits.min)) : ''" (input)="updateDateField($event, 'limits.min')" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="maxDate">Maximum Date</label>
      <input type="date" id="maxDate" [value]="fieldData.limits?.max ? (formatDateForInput(fieldData.limits.max)) : ''" (input)="updateDateField($event, 'limits.max')" (blur)="updateFieldData()">
    </div>
  </ng-container>

  <!-- Boolean Type Options -->
  <ng-container *ngIf="fieldData.datatype === 'boolean'">
    <div class="form-group">
      <label for="defaultBooleanValue">Default Value</label>
      <input type="checkbox" id="defaultBooleanValue" [(ngModel)]="fieldData.default" (change)="updateFieldValue($event)">
    </div>
    
    <div class="form-group">
      <label for="field_name">Field Name</label>
      <input type="text" id="field_name" [(ngModel)]="fieldData.field_name" (blur)="updateFieldData()">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" [(ngModel)]="fieldData.description" (blur)="updateFieldData()">
    </div>
  </ng-container>
</div>
